/*----------------------
     header styles start
----------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: .8em;
    color: gray;
}

header {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
}

.dis-1,
.dis-0 {
    display: none;
}

header:hover {
    background-color: royalblue;
    transition: background-color 1s ease-in-out;

}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    margin-left: 20px;
    list-style: none;
}

nav ul a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.head-container {

    display: flex;
    justify-content: space-around;

}

.head-title {
    color: white;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 100px; */
    width: 485px;
    height: 230px;
    margin-top: 100px;

}

.head-btn {
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
}

.head-image img {
    margin-top: 153px;
    width: 556.01px;
    height: 438px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    width: 330px;
    height: 450px;
    box-shadow: 5px 5px 10px grey;
    padding: 15px;
}

.player img {
    width: 100%;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 26px;
    margin-top: 70px;
}

.blogs {

    display: flex;
    justify-content: space-between;

}

.blog-title {
    margin-top: 160px;
    width: 400px;
    height: 309px;

    margin-right: 36px;
}

.blog-title h1 {
    font-size: 48px;
}

.blog-image img {
    margin-top: 165px;
    width: 567px;
    height: 427px;
}

.logo {
    margin-top: 158px;
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo-img img {
    width: 483.87px;
    height: 110px;
}

.pad {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 25%;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .head-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dis-1 {
        display: block;
    }

    .menu-bar ul {
        display: flex;
        flex-direction: column;
    }

    .menu-bar {
        display: none;
    }

    input:checked~.menu-bar {
        display: block;
    }

    .head-title {
        margin-top: 20px;
        width: 278px;
        height: 138px;
        font-size: 19px;
        margin-left: 20px;

    }

    .head-image img {
        width: 329px;
        height: 259.17px;
        margin-left: 20px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs {
        flex-direction: column;
    }

    .blog-title {
        margin-left: 50px;
    }

    .blog-image img {
        width: 99%;
    }

}

@media only screen and (min-width:601px) and (max-width:992px) {
    .players {
        grid-template-columns: repeat(2, 1fr);
    }

}